.btn{
  display:flexboxs;
  align-items: center;
  flex-direction:row;
  height: 30vh;
  width: 20vw;
  margin: 5px 5px;
  background-color: rgb(26, 77, 171);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  color:rgba(227, 217, 217, 0.774);
  text-transform: uppercase;
  letter-spacing:normal;
  cursor:pointer}


.pumba{
  background-Color: #8699a8;
  color:white;
  padding:10px;
  margin: 5px 0;
  
  cursor:pointer;

}


.ButtonContainer {
  background-Color: rgb(66, 116, 209);
  margin: 1rem 0 2rem 0 ;
  height: 10vh;
  width: 10vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url('../src/images/img0.jpg');
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;   
}

.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  width: 30vw;
}
